<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.AccountMapper">

    <cache/>

    <!--INSERT -->
    <insert id="insertAccount" parameterType="Account">
        INSERT INTO ACCOUNT
        (USERNAME, PASSWORD, EMAIL, ENABLED)
        VALUES
        (#{username}, #{password}, #{email}, #{enabled})
    </insert>

    <!-- SELECT -->
    <select id="findAccount" parameterType="String" resultType="Account">
        SELECT *
        FROM account
        WHERE USERNAME = #{username};
    </select>

    <select id="findAllAccounts" resultType="ArrayList">
        SELECT *
        FROM account;
    </select>

    <!-- UPDATE -->
    <update id="setEnabledAccount" parameterType="map">
        UPDATE account
        SET ENABLED = #{enabled}
        WHERE USERNAME = #{username}
    </update>

    <!-- DELETE -->
    <delete id="deleteAccount" parameterType="String">
        DELETE FROM account
        WHERE USERNAME = #{username}
    </delete>


</mapper>